[submodule "spring-cloud-ribbon"]
	url  = https://gitee.com/mooodo/spring-cloud-ribbon
	path = spring-cloud-ribbon

[submodule "spring-cloud-service"]
	url  = https://gitee.com/mooodo/spring-cloud-service
	path = spring-cloud-service

[submodule "spring-cloud-feign"]
	url  = https://gitee.com/mooodo/spring-cloud-feign
	path = spring-cloud-feign

[submodule "spring-cloud-gateway"]
	url  = https://gitee.com/mooodo/demo-service2-order
	path = spring-cloud-gateway

[submodule "spring-cloud-eureka"]
	url  = https://gitee.com/mooodo/spring-cloud-eureka
	path = spring-cloud-eureka

